button {
    background-color: transparent;
    border: none;
    color: var(--color-dark-grey);
    cursor: pointer;
}

input {
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-grey);
    border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea, select {
    background-color: var(--color-white);
    border-color: var(--color-dark-grey);
}

main {
    padding: 11px 25px;
}

main nav {
    margin-bottom: 5px;
}

main nav img {
    width: 12px;
}

main nav ul {
    width: 30%;
    justify-content: space-between;
    font-size: 16px;
}

main nav li:nth-child(1) {
    cursor: pointer;
}

main nav li:nth-child(even) {
    color: rgb(27, 23, 23);
}

main nav .active {
    font-weight: 600;
    color: var(--color-blue);
}

.input-data-warga, .input-data-kelurahan {
    display: none;
    height: 81vh;
    margin-top: 20px;
}

.pilih-surat {
    height: 65vh;
}

.pilih-surat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.pilih-surat button {
    font-size: 16px;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 15px 80px;
    border-radius: 3px;
}

.pilih-surat button:hover {
    background-color: rgba(25, 118, 210, .8);
}

.input-data-warga h2{
    font-size: 20px;
}

.form {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 11px;
    margin: 10px 30px 0;
}

.form div {
    width: 25%;
}

input, textarea, select {
    padding: 10px 15px;
    width: 100%;
    display: block;
    margin-top: 3px;
    font-family: 'Arial', sans-serif;
}

label {
    font-size: 14px;
}

.buttons {
    text-align: center;
    margin-top: 10px;
}

button {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 10px;
}

button.back {
    background-color: var(--color-green) !important;
}

button:nth-last-child(1) {
    margin-right: 0;
}

button.next {
    margin-right: 0;
}

.confirm-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons .confirm {
    box-sizing: content-box;
    padding: 50px 30px;
    background-color: var(--color-white);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.confirm p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.confirm button {
    background-color: var(--color-green);
}

.confirm button:nth-last-child(1) {
    background-color: var(--color-blue);
}

.flashMessage {
    color: var(--color-red);
    margin-bottom: -5px;
    margin-top: -5px;
}

@media screen and (max-width: 575px) {

    main {
        padding: 11px 20px;
    }
    
    main nav ul {
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
    
    .input-data-warga {
        height: fit-content;
        margin-top: 20px;
    }

    .form {
        display: inherit;
        margin: 20px 0;
        height: inherit;
    }

    .form > div {
        width: 100%;
        margin-bottom: 15px;
    }

    header.header {
        position: inherit;
    }

    header .logo img {
        width: 35px;
    }
    
    header .logo h1 {
        font-size: 18px;
    }

    header .logo p {
        font-size: 13px;
    }

    .buttons .confirm {
        width: 350px;
    }
}

@media screen and (min-width:576px) and (max-width: 992px) {
    main nav ul {
        width: 50%;
    }

    .input-data-warga {
        height: fit-content;
        margin-top: 20px;
    }

    .form {
        display: inherit;
        margin: 20px 0;
        height: inherit;
    }

    .form > div {
        width: 100%;
        margin-bottom: 15px;
    }

    header.header {
        position: inherit;
    }
}



