* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue : #1976d2;
    --color-light-blue : #5bc0de;
    --color-red : #d9534f;
    --color-green : #5cb85c;
    --color-yellow : #F0ad4e;
    --color-white : #f9f9f9;
    --color-dark-grey : #292b2c;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-white) !important;
    color: var(--color-dark-grey);
    line-height: inherit;
}

a {
    color: var(--color-dark-grey) !important;
    text-decoration: none !important;
}

header.header {
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    align-items: center;
    padding: 20px 25px;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.logo img {
    width: 40px;
}

.logo h1 {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-dark-grey);
}

header p {
    font-size: 14px;
    color: var(--color-dark-grey);
}

header a {
    font-size: 14px;
}

.logo .text {
    margin-left: 10px;
}

nav ul {
    display: flex;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: relative;
}

header nav ul {
    font-size: 18px;
    gap: 20px;
}

nav li {
    list-style-type: none;
}

nav a:hover {
    text-decoration: underline !important;
}

nav a.user:hover {
    text-decoration: none !important;
}

nav a.user {
    cursor: pointer;
}

nav a.user img {
    width: 11px;
    margin-left: 5px;
}

.drop-down-content {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
}

.drop-down-content .options {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    border-radius: 3px;
    width: 130px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-logout {
    background-color: transparent !important;
    font-size: 12px !important;
    padding: 0 !important;
    margin: 0 !important;
    color: var(--color-dark-grey) !important;
    border: none;
    cursor: pointer;
}

.active {
    display: inherit;
}
