@page 
    {
        size: auto; 
        margin: 0mm; 
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 15px;
    border-bottom: 3px solid black;
    height: inherit;
    background-color: inherit;
    color: inherit;
    display: inherit;
    height: fit-content;
}

header h1 {
    margin-bottom: 5px;
    font-size: 18px;
}

header h1:nth-last-child(1) {
    margin-bottom: 0;
}

main {
    margin-top: 2px;
    border-top: 1.5px solid black;
    padding: 15px 30px;
}

p, td {
    font-size: 14px;
}

.pembuka {
    position: relative;
    left: 80%;
}

.pembuka p {
    margin-bottom: 2px;
}

.pembuka p:nth-child(1), .pembuka p:nth-child(6) {
    margin-bottom: 15px;
}

.pembuka p:nth-child(7) {
    margin-bottom: 0;
}

.isi h1, .nomor-surat {
    text-align: center;
}

.isi h1 {
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 3px;
}

.nomor-surat {
    margin-bottom: 20px;
}

.indent {
    text-indent: 20px;
    margin-bottom: 10px;
}

table {
    margin-bottom: 10px;
}

th, td {
    padding: 5px 0;
}

.mengetahui {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.rt, .rw {
    border-bottom: 1.5px solid black;
    padding-bottom: 20px;
    position: relative;
}

.rt p:nth-child(1), .rw p:nth-child(1) {
    margin-bottom: 10px;
}

.mengetahui p {
    margin-bottom: 3px;
}

.tanda-tangan {
    width: 100%;
    text-align: center;
}

.tanda-tangan img {
    width: 100px;
    height: 100px;
}

.mengetahui .nama {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.line-through {
    text-decoration: line-through;
}