button {
    background-color: transparent;
    border: none;
    color: var(--color-dark-grey);
    cursor: pointer;
}

input {
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-grey);
    border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea, select {
    background-color: var(--color-white);
    border-color: var(--color-dark-grey);
}

main {
    padding: 11px 25px;
}

main nav {
    margin-bottom: 5px;
}

main nav ul {
    width: 40%;
    justify-content: space-between;
    font-size: 16px;
}

main nav li:nth-child(1) {
    cursor: pointer;
}

main nav li:nth-child(even) {
    color: rgb(27, 23, 23);
}

main nav .active {
    font-weight: 600;
    color: var(--color-blue);
}

.pilih-surat, .input-data-warga, .input-data-kelurahan {
    height: 70vh;
}

.pilih-surat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.pilih-surat button {
    font-size: 16px;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 15px 80px;
    border-radius: 3px;
}

.pilih-surat button:hover {
    background-color: rgba(25, 118, 210, .8);
}

.input-data-warga, .input-data-kelurahan {
    display: none;
}

.input-data-warga h2{
    font-size: 20px;
}

.form {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 11px;
    margin: 10px 30px 0;
}

.form div {
    width: 25%;
}

input, textarea, select {
    padding: 10px 15px;
    width: 100%;
    display: block;
    margin-top: 3px;
    font-family: 'Arial', sans-serif;
}

label {
    font-size: 14px;
}

.buttons {
    width: 100%;
    text-align: center;
    margin-top: -15px;
}

button {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 10px;
}

button.back {
    background-color: var(--color-blue) !important;
}

button:nth-last-child(1) {
    margin-right: 0;
}

button.next {
    margin-right: 0;
}

.buttons .confirm {
    box-sizing: content-box;
    padding: 50px 30px;
    background-color: var(--color-white);
    position: absolute;
    top: 33vh;
    left: 33vw;    
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.confirm p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.confirm button {
    background-color: var(--color-blue);
}

.confirm button:nth-last-child(1) {
    background-color: var(--color-green);
}

.flashMessage {
    color: var(--color-red);
    margin-bottom: -5px;
    margin-top: -5px;
}




