input[type="submit"], button {
    border: none;
    font-family: inherit;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    color: var(--color-white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-tanda-tangan {
    border: 1px solid #444;
    border-radius: 3px;
    padding: 3px 7px;
}

label {
    font-size: 14px;
}

input[type="text"], input[type="number"], input[type="file"] {
    width: 100%;
}

input[type="text"], input[type="search"], input[type="number"] {
    font-family: inherit;
    padding: 3px 7px;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

header {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 10px 20px;
}

main {
    padding: 0 20px;
    margin-top: 20px;
}

.card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 30px 80px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.rak {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

.add-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.item {
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 230px;
    height: 230px;
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.data-container h3 {
    margin-bottom: 10px;
}

.data-container p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btn-plus-wrapper {
    width: inherit;
    height: inherit;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

img.btn-plus {
    width: 35px;
    height: 35px;
}

img.tanda-tangan {
    width: 150px;
    height: 80px;
    object-fit: cover;
}

.item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.rak-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

.cancel-button {
    background-color: var(--color-red);
    margin-top: 5px;
    width: 100%;
}

.edit-button, .add-form input[type="submit"] {
    background-color: var(--color-blue);
}

.delete-button {
    background-color: var(--color-red);
}

.confirm-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    padding: 50px 30px;
    background-color: var(--color-white);
    position: fixed;
    top: 33vh;
    left: 33vw;    
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.confirm-delete p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.confirm-delete button {
    background-color: var(--color-blue);
    padding: 10px 15px;
}

.confirm-delete button:nth-last-child(1) {
    background-color: var(--color-red);
}



